@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');

.hero-name{
     font-family: "Playwrite MX", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@keyframes spin {
    0%{
    transform: rotate(0deg);
    }
    100%{
    transform: rotate(360deg);
    }
}
.spinner:hover{
      animation: spin 1s linear;

}