@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
   font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.color-palette-bg{
    background-color:#00C9FF;
}
.color-palette{
   color: #00C9FF;
}

.special-text{
   color:black;
   background-color: #00c8ff5e;
   border-radius: 8px;
   margin:8px;
   border: 1px solid #00C9FF;
}

.nav-icon{
   color:#00C9FF;
   opacity: 0.1;
   transition: text-shadow 0.3s ease;

}
.nav-icon:hover {
     opacity: 1;
            /* text-shadow: 
                0 0 0.5rem #fff,
                0 0 1rem #fff,
                0 0 1.5rem #00C9FF,
                0 0 2.5rem #00C9FF,
                0 0 4rem #00C9FF,
                0 0 5.5rem #00C9FF,
                0 0 6rem #00C9FF,
                0 0 9.5rem #00C9FF; */
        }